<div th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Лаборатория</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Главная</a></li>
                    <li><a href="/info" class="nav-link px-2 text-white">Контакты</a></li>
                    <li><a href="/offers" class="nav-link px-2 text-white">Услуги</a></li>
                    <li><a href="/orders" class="nav-link px-2 text-white">Заказать</a></li>
                </ul>

                <div sec:authorize="!hasRole('USER')" class="text-end">
                    <button onClick='location.href="/login"' class="btn btn-outline-light me-2">Войти</button>
                    <button onClick='location.href="/registration"' class="btn btn-warning">Зарегистрироваться</button>
                </div>

                <div sec:authorize="hasRole('USER')" class="text-end">
                    <button sec:authentication="name" class="btn btn-outline-light me-2"></button>
                    <form class="btn" th:action="@{/logout}" method="post">
                        <input class=" btn-warning" type="submit" value="Выйти"/>
                    </form>
                </div>

                <div sec:authorize="hasRole('ADMIN')" class="text-end">
                    <button sec:authentication="name" class="btn btn-outline-light me-2"></button>
                    <form class="btn" th:action="@{/logout}" method="post">
                        <input class="btn btn-warning" type="submit" value="Выйти"/>
                    </form>
                </div>
            </div>
        </nav>
    </header>
</div>